:root {
  --white: #ffffff;
  --primary-color: #202040;
  --secondary-color: #202060;
  --aux-color-1: #602080;
  --aux-color-2: #B030B0;
  --color-txt: #ffffff;
  --color-text-btn: #000000;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
  --xl: 28px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Caveat', cursive;
}
.blur{
  filter: blur(5px)
}

.btns-dificulty-container,
.home-screen,
.alert-screen,
.finished-screen {
  position: absolute;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-txt)
}
.home-screen span {
  color: var(--aux-color-1);
}
.btn-continue-last {
  display: none;
}
button {
  background-color: var(--white);
  opacity: 0.8;
  color: var(--color-text-btn);
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-size: var(--lg);
  border: 1px solid var(--white);
  border-radius: 10px;
  width: 200px;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.close-set-dificulty {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  left: calc(50% - 120px);
  top: calc(50% - 220px);
  background: transparent;
  display: flex;
  align-items: center;
}
.close-set-dificulty svg {
  fill: none;
  stroke: var(--white);
  stroke-width: 4px;
}

.btns-dificulty-container {
  position: absolute;
  filter: blur(0px)
}

.game-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-container {
  width: 80%;
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--white);
}
.moves,
.timekeeper {
  font-weight: bold;
  font-size: var(--xl);
}
.play {
  width: 40px;
  height: 40px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s box-shadow ease-in-out;
  border-radius: 50%;
  box-shadow: -8px -8px 20px 0px var(--light), -6px -6px 6px 0px var(--light),
    8px 8px 20px 0px var(--shadowOne), 5px 5px 6px 0px var(--shadowOne), inset 0px 0px 0px 0px var(--light),
    inset 0px 0px 0px 0px var(--shadowOne), inset 0px 0px 0px 0px var(--light),
    inset 0px 0px 0px 0px var(--shadowOne);
}
.linePause{
  width: 3px;
  height: 16px;
  background-color: var(--white);
}
.play .triangle {
  width: 0;
  height: 0;
  border-left: 15px solid var(--white);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  margin-left: 7px;
  transition: 0.2s font-size ease-in-out;
  opacity: 0.8;
  display: none;
}
.play .pause{
  display: flex;
  width: 30%;
  justify-content: space-around;
}
.buttonGoToHome img,
.buttonRestart img {
  width: 25px;
  height: 25px;
  margin: 5px 10px;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 70px);
	gap: 10px;
	place-content: center;
	margin: 5em auto;
}
.cards-container div {
  border: 1px solid white;
  border-radius: 10px;
}
.cards-container div img {
  width: 70px;
}
.invisible {
  backface-visibility: hidden;
  transform: rotateX(180deg);
}
.disabled-screen {
  display: none;
}
.disabledbutton {
  pointer-events: none;
}
.found-pair {
  pointer-events: none;
  opacity: 0.3;
}
.btn-continue {
  position: absolute;
  top: 60%;
  color: var(--color-text-btn);
}